@font-face {
  font-family: 'carlos';
  src:  url('fonts/carlos.eot?2t2br9');
  src:  url('fonts/carlos.eot?2t2br9#iefix') format('embedded-opentype'),
    url('fonts/carlos.ttf?2t2br9') format('truetype'),
    url('fonts/carlos.woff?2t2br9') format('woff'),
    url('fonts/carlos.svg?2t2br9#carlos') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="iconos-"], [class*=" iconos-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'carlos' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconos-home:before {
  content: "\e900";
}
.iconos-home2:before {
  content: "\e901";
}
.iconos-home3:before {
  content: "\e902";
}
.iconos-office:before {
  content: "\e903";
}
.iconos-newspaper:before {
  content: "\e904";
}
.iconos-pencil:before {
  content: "\e905";
}
.iconos-pencil2:before {
  content: "\e906";
}
.iconos-quill:before {
  content: "\e907";
}
.iconos-pen:before {
  content: "\e908";
}
.iconos-blog:before {
  content: "\e909";
}
.iconos-eyedropper:before {
  content: "\e90a";
}
.iconos-droplet:before {
  content: "\e90b";
}
.iconos-paint-format:before {
  content: "\e90c";
}
.iconos-image:before {
  content: "\e90d";
}
.iconos-images:before {
  content: "\e90e";
}
.iconos-camera:before {
  content: "\e90f";
}
.iconos-headphones:before {
  content: "\e910";
}
.iconos-music:before {
  content: "\e911";
}
.iconos-play:before {
  content: "\e912";
}
.iconos-film:before {
  content: "\e913";
}
.iconos-video-camera:before {
  content: "\e914";
}
.iconos-dice:before {
  content: "\e915";
}
.iconos-pacman:before {
  content: "\e916";
}
.iconos-spades:before {
  content: "\e917";
}
.iconos-clubs:before {
  content: "\e918";
}
.iconos-diamonds:before {
  content: "\e919";
}
.iconos-bullhorn:before {
  content: "\e91a";
}
.iconos-connection:before {
  content: "\e91b";
}
.iconos-podcast:before {
  content: "\e91c";
}
.iconos-feed:before {
  content: "\e91d";
}
.iconos-mic:before {
  content: "\e91e";
}
.iconos-book:before {
  content: "\e91f";
}
.iconos-books:before {
  content: "\e920";
}
.iconos-library:before {
  content: "\e921";
}
.iconos-file-text:before {
  content: "\e922";
}
.iconos-profile:before {
  content: "\e923";
}
.iconos-file-empty:before {
  content: "\e924";
}
.iconos-files-empty:before {
  content: "\e925";
}
.iconos-file-text2:before {
  content: "\e926";
}
.iconos-file-picture:before {
  content: "\e927";
}
.iconos-file-music:before {
  content: "\e928";
}
.iconos-file-play:before {
  content: "\e929";
}
.iconos-file-video:before {
  content: "\e92a";
}
.iconos-file-zip:before {
  content: "\e92b";
}
.iconos-copy:before {
  content: "\e92c";
}
.iconos-paste:before {
  content: "\e92d";
}
.iconos-stack:before {
  content: "\e92e";
}
.iconos-folder:before {
  content: "\e92f";
}
.iconos-folder-open:before {
  content: "\e930";
}
.iconos-folder-plus:before {
  content: "\e931";
}
.iconos-folder-minus:before {
  content: "\e932";
}
.iconos-folder-download:before {
  content: "\e933";
}
.iconos-folder-upload:before {
  content: "\e934";
}
.iconos-price-tag:before {
  content: "\e935";
}
.iconos-price-tags:before {
  content: "\e936";
}
.iconos-barcode:before {
  content: "\e937";
}
.iconos-qrcode:before {
  content: "\e938";
}
.iconos-ticket:before {
  content: "\e939";
}
.iconos-cart:before {
  content: "\e93a";
}
.iconos-coin-dollar:before {
  content: "\e93b";
}
.iconos-coin-euro:before {
  content: "\e93c";
}
.iconos-coin-pound:before {
  content: "\e93d";
}
.iconos-coin-yen:before {
  content: "\e93e";
}
.iconos-credit-card:before {
  content: "\e93f";
}
.iconos-calculator:before {
  content: "\e940";
}
.iconos-lifebuoy:before {
  content: "\e941";
}
.iconos-phone:before {
  content: "\e942";
}
.iconos-phone-hang-up:before {
  content: "\e943";
}
.iconos-address-book:before {
  content: "\e944";
}
.iconos-envelop:before {
  content: "\e945";
}
.iconos-pushpin:before {
  content: "\e946";
}
.iconos-location:before {
  content: "\e947";
}
.iconos-location2:before {
  content: "\e948";
}
.iconos-compass:before {
  content: "\e949";
}
.iconos-compass2:before {
  content: "\e94a";
}
.iconos-map:before {
  content: "\e94b";
}
.iconos-map2:before {
  content: "\e94c";
}
.iconos-history:before {
  content: "\e94d";
}
.iconos-clock:before {
  content: "\e94e";
}
.iconos-clock2:before {
  content: "\e94f";
}
.iconos-alarm:before {
  content: "\e950";
}
.iconos-bell:before {
  content: "\e951";
}
.iconos-stopwatch:before {
  content: "\e952";
}
.iconos-calendar:before {
  content: "\e953";
}
.iconos-printer:before {
  content: "\e954";
}
.iconos-keyboard:before {
  content: "\e955";
}
.iconos-display:before {
  content: "\e956";
}
.iconos-laptop:before {
  content: "\e957";
}
.iconos-mobile:before {
  content: "\e958";
}
.iconos-mobile2:before {
  content: "\e959";
}
.iconos-tablet:before {
  content: "\e95a";
}
.iconos-tv:before {
  content: "\e95b";
}
.iconos-drawer:before {
  content: "\e95c";
}
.iconos-drawer2:before {
  content: "\e95d";
}
.iconos-box-add:before {
  content: "\e95e";
}
.iconos-box-remove:before {
  content: "\e95f";
}
.iconos-download:before {
  content: "\e960";
}
.iconos-upload:before {
  content: "\e961";
}
.iconos-floppy-disk:before {
  content: "\e962";
}
.iconos-drive:before {
  content: "\e963";
}
.iconos-database:before {
  content: "\e964";
}
.iconos-undo:before {
  content: "\e965";
}
.iconos-redo:before {
  content: "\e966";
}
.iconos-undo2:before {
  content: "\e967";
}
.iconos-redo2:before {
  content: "\e968";
}
.iconos-forward:before {
  content: "\e969";
}
.iconos-reply:before {
  content: "\e96a";
}
.iconos-bubble:before {
  content: "\e96b";
}
.iconos-bubbles:before {
  content: "\e96c";
}
.iconos-bubbles2:before {
  content: "\e96d";
}
.iconos-bubble2:before {
  content: "\e96e";
}
.iconos-bubbles3:before {
  content: "\e96f";
}
.iconos-bubbles4:before {
  content: "\e970";
}
.iconos-user:before {
  content: "\e971";
}
.iconos-users:before {
  content: "\e972";
}
.iconos-user-plus:before {
  content: "\e973";
}
.iconos-user-minus:before {
  content: "\e974";
}
.iconos-user-check:before {
  content: "\e975";
}
.iconos-user-tie:before {
  content: "\e976";
}
.iconos-quotes-left:before {
  content: "\e977";
}
.iconos-quotes-right:before {
  content: "\e978";
}
.iconos-hour-glass:before {
  content: "\e979";
}
.iconos-spinner:before {
  content: "\e97a";
}
.iconos-spinner2:before {
  content: "\e97b";
}
.iconos-spinner3:before {
  content: "\e97c";
}
.iconos-spinner4:before {
  content: "\e97d";
}
.iconos-spinner5:before {
  content: "\e97e";
}
.iconos-spinner6:before {
  content: "\e97f";
}
.iconos-spinner7:before {
  content: "\e980";
}
.iconos-spinner8:before {
  content: "\e981";
}
.iconos-spinner9:before {
  content: "\e982";
}
.iconos-spinner10:before {
  content: "\e983";
}
.iconos-spinner11:before {
  content: "\e984";
}
.iconos-binoculars:before {
  content: "\e985";
}
.iconos-search:before {
  content: "\e986";
}
.iconos-zoom-in:before {
  content: "\e987";
}
.iconos-zoom-out:before {
  content: "\e988";
}
.iconos-enlarge:before {
  content: "\e989";
}
.iconos-shrink:before {
  content: "\e98a";
}
.iconos-enlarge2:before {
  content: "\e98b";
}
.iconos-shrink2:before {
  content: "\e98c";
}
.iconos-key:before {
  content: "\e98d";
}
.iconos-key2:before {
  content: "\e98e";
}
.iconos-lock:before {
  content: "\e98f";
}
.iconos-unlocked:before {
  content: "\e990";
}
.iconos-wrench:before {
  content: "\e991";
}
.iconos-equalizer:before {
  content: "\e992";
}
.iconos-equalizer2:before {
  content: "\e993";
}
.iconos-cog:before {
  content: "\e994";
}
.iconos-cogs:before {
  content: "\e995";
}
.iconos-hammer:before {
  content: "\e996";
}
.iconos-magic-wand:before {
  content: "\e997";
}
.iconos-aid-kit:before {
  content: "\e998";
}
.iconos-bug:before {
  content: "\e999";
}
.iconos-pie-chart:before {
  content: "\e99a";
}
.iconos-stats-dots:before {
  content: "\e99b";
}
.iconos-stats-bars:before {
  content: "\e99c";
}
.iconos-stats-bars2:before {
  content: "\e99d";
}
.iconos-trophy:before {
  content: "\e99e";
}
.iconos-gift:before {
  content: "\e99f";
}
.iconos-glass:before {
  content: "\e9a0";
}
.iconos-glass2:before {
  content: "\e9a1";
}
.iconos-mug:before {
  content: "\e9a2";
}
.iconos-spoon-knife:before {
  content: "\e9a3";
}
.iconos-leaf:before {
  content: "\e9a4";
}
.iconos-rocket:before {
  content: "\e9a5";
}
.iconos-meter:before {
  content: "\e9a6";
}
.iconos-meter2:before {
  content: "\e9a7";
}
.iconos-hammer2:before {
  content: "\e9a8";
}
.iconos-fire:before {
  content: "\e9a9";
}
.iconos-lab:before {
  content: "\e9aa";
}
.iconos-magnet:before {
  content: "\e9ab";
}
.iconos-bin:before {
  content: "\e9ac";
}
.iconos-bin2:before {
  content: "\e9ad";
}
.iconos-briefcase:before {
  content: "\e9ae";
}
.iconos-airplane:before {
  content: "\e9af";
}
.iconos-truck:before {
  content: "\e9b0";
}
.iconos-road:before {
  content: "\e9b1";
}
.iconos-accessibility:before {
  content: "\e9b2";
}
.iconos-target:before {
  content: "\e9b3";
}
.iconos-shield:before {
  content: "\e9b4";
}
.iconos-power:before {
  content: "\e9b5";
}
.iconos-switch:before {
  content: "\e9b6";
}
.iconos-power-cord:before {
  content: "\e9b7";
}
.iconos-clipboard:before {
  content: "\e9b8";
}
.iconos-list-numbered:before {
  content: "\e9b9";
}
.iconos-list:before {
  content: "\e9ba";
}
.iconos-list2:before {
  content: "\e9bb";
}
.iconos-tree:before {
  content: "\e9bc";
}
.iconos-menu:before {
  content: "\e9bd";
}
.iconos-menu2:before {
  content: "\e9be";
}
.iconos-menu3:before {
  content: "\e9bf";
}
.iconos-menu4:before {
  content: "\e9c0";
}
.iconos-cloud:before {
  content: "\e9c1";
}
.iconos-cloud-download:before {
  content: "\e9c2";
}
.iconos-cloud-upload:before {
  content: "\e9c3";
}
.iconos-cloud-check:before {
  content: "\e9c4";
}
.iconos-download2:before {
  content: "\e9c5";
}
.iconos-upload2:before {
  content: "\e9c6";
}
.iconos-download3:before {
  content: "\e9c7";
}
.iconos-upload3:before {
  content: "\e9c8";
}
.iconos-sphere:before {
  content: "\e9c9";
}
.iconos-earth:before {
  content: "\e9ca";
}
.iconos-link:before {
  content: "\e9cb";
}
.iconos-flag:before {
  content: "\e9cc";
}
.iconos-attachment:before {
  content: "\e9cd";
}
.iconos-eye:before {
  content: "\e9ce";
}
.iconos-eye-plus:before {
  content: "\e9cf";
}
.iconos-eye-minus:before {
  content: "\e9d0";
}
.iconos-eye-blocked:before {
  content: "\e9d1";
}
.iconos-bookmark:before {
  content: "\e9d2";
}
.iconos-bookmarks:before {
  content: "\e9d3";
}
.iconos-sun:before {
  content: "\e9d4";
}
.iconos-contrast:before {
  content: "\e9d5";
}
.iconos-brightness-contrast:before {
  content: "\e9d6";
}
.iconos-star-empty:before {
  content: "\e9d7";
}
.iconos-star-half:before {
  content: "\e9d8";
}
.iconos-star-full:before {
  content: "\e9d9";
}
.iconos-heart:before {
  content: "\e9da";
}
.iconos-heart-broken:before {
  content: "\e9db";
}
.iconos-man:before {
  content: "\e9dc";
}
.iconos-woman:before {
  content: "\e9dd";
}
.iconos-man-woman:before {
  content: "\e9de";
}
.iconos-happy:before {
  content: "\e9df";
}
.iconos-happy2:before {
  content: "\e9e0";
}
.iconos-smile:before {
  content: "\e9e1";
}
.iconos-smile2:before {
  content: "\e9e2";
}
.iconos-tongue:before {
  content: "\e9e3";
}
.iconos-tongue2:before {
  content: "\e9e4";
}
.iconos-sad:before {
  content: "\e9e5";
}
.iconos-sad2:before {
  content: "\e9e6";
}
.iconos-wink:before {
  content: "\e9e7";
}
.iconos-wink2:before {
  content: "\e9e8";
}
.iconos-grin:before {
  content: "\e9e9";
}
.iconos-grin2:before {
  content: "\e9ea";
}
.iconos-cool:before {
  content: "\e9eb";
}
.iconos-cool2:before {
  content: "\e9ec";
}
.iconos-angry:before {
  content: "\e9ed";
}
.iconos-angry2:before {
  content: "\e9ee";
}
.iconos-evil:before {
  content: "\e9ef";
}
.iconos-evil2:before {
  content: "\e9f0";
}
.iconos-shocked:before {
  content: "\e9f1";
}
.iconos-shocked2:before {
  content: "\e9f2";
}
.iconos-baffled:before {
  content: "\e9f3";
}
.iconos-baffled2:before {
  content: "\e9f4";
}
.iconos-confused:before {
  content: "\e9f5";
}
.iconos-confused2:before {
  content: "\e9f6";
}
.iconos-neutral:before {
  content: "\e9f7";
}
.iconos-neutral2:before {
  content: "\e9f8";
}
.iconos-hipster:before {
  content: "\e9f9";
}
.iconos-hipster2:before {
  content: "\e9fa";
}
.iconos-wondering:before {
  content: "\e9fb";
}
.iconos-wondering2:before {
  content: "\e9fc";
}
.iconos-sleepy:before {
  content: "\e9fd";
}
.iconos-sleepy2:before {
  content: "\e9fe";
}
.iconos-frustrated:before {
  content: "\e9ff";
}
.iconos-frustrated2:before {
  content: "\ea00";
}
.iconos-crying:before {
  content: "\ea01";
}
.iconos-crying2:before {
  content: "\ea02";
}
.iconos-point-up:before {
  content: "\ea03";
}
.iconos-point-right:before {
  content: "\ea04";
}
.iconos-point-down:before {
  content: "\ea05";
}
.iconos-point-left:before {
  content: "\ea06";
}
.iconos-warning:before {
  content: "\ea07";
}
.iconos-notification:before {
  content: "\ea08";
}
.iconos-question:before {
  content: "\ea09";
}
.iconos-plus:before {
  content: "\ea0a";
}
.iconos-minus:before {
  content: "\ea0b";
}
.iconos-info:before {
  content: "\ea0c";
}
.iconos-cancel-circle:before {
  content: "\ea0d";
}
.iconos-blocked:before {
  content: "\ea0e";
}
.iconos-cross:before {
  content: "\ea0f";
}
.iconos-checkmark:before {
  content: "\ea10";
}
.iconos-checkmark2:before {
  content: "\ea11";
}
.iconos-spell-check:before {
  content: "\ea12";
}
.iconos-enter:before {
  content: "\ea13";
}
.iconos-exit:before {
  content: "\ea14";
}
.iconos-play2:before {
  content: "\ea15";
}
.iconos-pause:before {
  content: "\ea16";
}
.iconos-stop:before {
  content: "\ea17";
}
.iconos-previous:before {
  content: "\ea18";
}
.iconos-next:before {
  content: "\ea19";
}
.iconos-backward:before {
  content: "\ea1a";
}
.iconos-forward2:before {
  content: "\ea1b";
}
.iconos-play3:before {
  content: "\ea1c";
}
.iconos-pause2:before {
  content: "\ea1d";
}
.iconos-stop2:before {
  content: "\ea1e";
}
.iconos-backward2:before {
  content: "\ea1f";
}
.iconos-forward3:before {
  content: "\ea20";
}
.iconos-first:before {
  content: "\ea21";
}
.iconos-last:before {
  content: "\ea22";
}
.iconos-previous2:before {
  content: "\ea23";
}
.iconos-next2:before {
  content: "\ea24";
}
.iconos-eject:before {
  content: "\ea25";
}
.iconos-volume-high:before {
  content: "\ea26";
}
.iconos-volume-medium:before {
  content: "\ea27";
}
.iconos-volume-low:before {
  content: "\ea28";
}
.iconos-volume-mute:before {
  content: "\ea29";
}
.iconos-volume-mute2:before {
  content: "\ea2a";
}
.iconos-volume-increase:before {
  content: "\ea2b";
}
.iconos-volume-decrease:before {
  content: "\ea2c";
}
.iconos-loop:before {
  content: "\ea2d";
}
.iconos-loop2:before {
  content: "\ea2e";
}
.iconos-infinite:before {
  content: "\ea2f";
}
.iconos-shuffle:before {
  content: "\ea30";
}
.iconos-arrow-up-left:before {
  content: "\ea31";
}
.iconos-arrow-up:before {
  content: "\ea32";
}
.iconos-arrow-up-right:before {
  content: "\ea33";
}
.iconos-arrow-right:before {
  content: "\ea34";
}
.iconos-arrow-down-right:before {
  content: "\ea35";
}
.iconos-arrow-down:before {
  content: "\ea36";
}
.iconos-arrow-down-left:before {
  content: "\ea37";
}
.iconos-arrow-left:before {
  content: "\ea38";
}
.iconos-arrow-up-left2:before {
  content: "\ea39";
}
.iconos-arrow-up2:before {
  content: "\ea3a";
}
.iconos-arrow-up-right2:before {
  content: "\ea3b";
}
.iconos-arrow-right2:before {
  content: "\ea3c";
}
.iconos-arrow-down-right2:before {
  content: "\ea3d";
}
.iconos-arrow-down2:before {
  content: "\ea3e";
}
.iconos-arrow-down-left2:before {
  content: "\ea3f";
}
.iconos-arrow-left2:before {
  content: "\ea40";
}
.iconos-circle-up:before {
  content: "\ea41";
}
.iconos-circle-right:before {
  content: "\ea42";
}
.iconos-circle-down:before {
  content: "\ea43";
}
.iconos-circle-left:before {
  content: "\ea44";
}
.iconos-tab:before {
  content: "\ea45";
}
.iconos-move-up:before {
  content: "\ea46";
}
.iconos-move-down:before {
  content: "\ea47";
}
.iconos-sort-alpha-asc:before {
  content: "\ea48";
}
.iconos-sort-alpha-desc:before {
  content: "\ea49";
}
.iconos-sort-numeric-asc:before {
  content: "\ea4a";
}
.iconos-sort-numberic-desc:before {
  content: "\ea4b";
}
.iconos-sort-amount-asc:before {
  content: "\ea4c";
}
.iconos-sort-amount-desc:before {
  content: "\ea4d";
}
.iconos-command:before {
  content: "\ea4e";
}
.iconos-shift:before {
  content: "\ea4f";
}
.iconos-ctrl:before {
  content: "\ea50";
}
.iconos-opt:before {
  content: "\ea51";
}
.iconos-checkbox-checked:before {
  content: "\ea52";
}
.iconos-checkbox-unchecked:before {
  content: "\ea53";
}
.iconos-radio-checked:before {
  content: "\ea54";
}
.iconos-radio-checked2:before {
  content: "\ea55";
}
.iconos-radio-unchecked:before {
  content: "\ea56";
}
.iconos-crop:before {
  content: "\ea57";
}
.iconos-make-group:before {
  content: "\ea58";
}
.iconos-ungroup:before {
  content: "\ea59";
}
.iconos-scissors:before {
  content: "\ea5a";
}
.iconos-filter:before {
  content: "\ea5b";
}
.iconos-font:before {
  content: "\ea5c";
}
.iconos-ligature:before {
  content: "\ea5d";
}
.iconos-ligature2:before {
  content: "\ea5e";
}
.iconos-text-height:before {
  content: "\ea5f";
}
.iconos-text-width:before {
  content: "\ea60";
}
.iconos-font-size:before {
  content: "\ea61";
}
.iconos-bold:before {
  content: "\ea62";
}
.iconos-underline:before {
  content: "\ea63";
}
.iconos-italic:before {
  content: "\ea64";
}
.iconos-strikethrough:before {
  content: "\ea65";
}
.iconos-omega:before {
  content: "\ea66";
}
.iconos-sigma:before {
  content: "\ea67";
}
.iconos-page-break:before {
  content: "\ea68";
}
.iconos-superscript:before {
  content: "\ea69";
}
.iconos-subscript:before {
  content: "\ea6a";
}
.iconos-superscript2:before {
  content: "\ea6b";
}
.iconos-subscript2:before {
  content: "\ea6c";
}
.iconos-text-color:before {
  content: "\ea6d";
}
.iconos-pagebreak:before {
  content: "\ea6e";
}
.iconos-clear-formatting:before {
  content: "\ea6f";
}
.iconos-table:before {
  content: "\ea70";
}
.iconos-table2:before {
  content: "\ea71";
}
.iconos-insert-template:before {
  content: "\ea72";
}
.iconos-pilcrow:before {
  content: "\ea73";
}
.iconos-ltr:before {
  content: "\ea74";
}
.iconos-rtl:before {
  content: "\ea75";
}
.iconos-section:before {
  content: "\ea76";
}
.iconos-paragraph-left:before {
  content: "\ea77";
}
.iconos-paragraph-center:before {
  content: "\ea78";
}
.iconos-paragraph-right:before {
  content: "\ea79";
}
.iconos-paragraph-justify:before {
  content: "\ea7a";
}
.iconos-indent-increase:before {
  content: "\ea7b";
}
.iconos-indent-decrease:before {
  content: "\ea7c";
}
.iconos-share:before {
  content: "\ea7d";
}
.iconos-new-tab:before {
  content: "\ea7e";
}
.iconos-embed:before {
  content: "\ea7f";
}
.iconos-embed2:before {
  content: "\ea80";
}
.iconos-terminal:before {
  content: "\ea81";
}
.iconos-share2:before {
  content: "\ea82";
}
.iconos-mail:before {
  content: "\ea83";
}
.iconos-mail2:before {
  content: "\ea84";
}
.iconos-mail3:before {
  content: "\ea85";
}
.iconos-mail4:before {
  content: "\ea86";
}
.iconos-amazon:before {
  content: "\ea87";
}
.iconos-google:before {
  content: "\ea88";
}
.iconos-google2:before {
  content: "\ea89";
}
.iconos-google3:before {
  content: "\ea8a";
}
.iconos-google-plus:before {
  content: "\ea8b";
}
.iconos-google-plus2:before {
  content: "\ea8c";
}
.iconos-google-plus3:before {
  content: "\ea8d";
}
.iconos-hangouts:before {
  content: "\ea8e";
}
.iconos-google-drive:before {
  content: "\ea8f";
}
.iconos-facebook:before {
  content: "\ea90";
}
.iconos-facebook2:before {
  content: "\ea91";
}
.iconos-instagram:before {
  content: "\ea92";
}
.iconos-whatsapp:before {
  content: "\ea93";
}
.iconos-spotify:before {
  content: "\ea94";
}
.iconos-telegram:before {
  content: "\ea95";
}
.iconos-twitter:before {
  content: "\ea96";
}
.iconos-vine:before {
  content: "\ea97";
}
.iconos-vk:before {
  content: "\ea98";
}
.iconos-renren:before {
  content: "\ea99";
}
.iconos-sina-weibo:before {
  content: "\ea9a";
}
.iconos-rss:before {
  content: "\ea9b";
}
.iconos-rss2:before {
  content: "\ea9c";
}
.iconos-youtube:before {
  content: "\ea9d";
}
.iconos-youtube2:before {
  content: "\ea9e";
}
.iconos-twitch:before {
  content: "\ea9f";
}
.iconos-vimeo:before {
  content: "\eaa0";
}
.iconos-vimeo2:before {
  content: "\eaa1";
}
.iconos-lanyrd:before {
  content: "\eaa2";
}
.iconos-flickr:before {
  content: "\eaa3";
}
.iconos-flickr2:before {
  content: "\eaa4";
}
.iconos-flickr3:before {
  content: "\eaa5";
}
.iconos-flickr4:before {
  content: "\eaa6";
}
.iconos-dribbble:before {
  content: "\eaa7";
}
.iconos-behance:before {
  content: "\eaa8";
}
.iconos-behance2:before {
  content: "\eaa9";
}
.iconos-deviantart:before {
  content: "\eaaa";
}
.iconos-500px:before {
  content: "\eaab";
}
.iconos-steam:before {
  content: "\eaac";
}
.iconos-steam2:before {
  content: "\eaad";
}
.iconos-dropbox:before {
  content: "\eaae";
}
.iconos-onedrive:before {
  content: "\eaaf";
}
.iconos-github:before {
  content: "\eab0";
}
.iconos-npm:before {
  content: "\eab1";
}
.iconos-basecamp:before {
  content: "\eab2";
}
.iconos-trello:before {
  content: "\eab3";
}
.iconos-wordpress:before {
  content: "\eab4";
}
.iconos-joomla:before {
  content: "\eab5";
}
.iconos-ello:before {
  content: "\eab6";
}
.iconos-blogger:before {
  content: "\eab7";
}
.iconos-blogger2:before {
  content: "\eab8";
}
.iconos-tumblr:before {
  content: "\eab9";
}
.iconos-tumblr2:before {
  content: "\eaba";
}
.iconos-yahoo:before {
  content: "\eabb";
}
.iconos-yahoo2:before {
  content: "\eabc";
}
.iconos-tux:before {
  content: "\eabd";
}
.iconos-appleinc:before {
  content: "\eabe";
}
.iconos-finder:before {
  content: "\eabf";
}
.iconos-android:before {
  content: "\eac0";
}
.iconos-windows:before {
  content: "\eac1";
}
.iconos-windows8:before {
  content: "\eac2";
}
.iconos-soundcloud:before {
  content: "\eac3";
}
.iconos-soundcloud2:before {
  content: "\eac4";
}
.iconos-skype:before {
  content: "\eac5";
}
.iconos-reddit:before {
  content: "\eac6";
}
.iconos-hackernews:before {
  content: "\eac7";
}
.iconos-wikipedia:before {
  content: "\eac8";
}
.iconos-linkedin:before {
  content: "\eac9";
}
.iconos-linkedin2:before {
  content: "\eaca";
}
.iconos-lastfm:before {
  content: "\eacb";
}
.iconos-lastfm2:before {
  content: "\eacc";
}
.iconos-delicious:before {
  content: "\eacd";
}
.iconos-stumbleupon:before {
  content: "\eace";
}
.iconos-stumbleupon2:before {
  content: "\eacf";
}
.iconos-stackoverflow:before {
  content: "\ead0";
}
.iconos-pinterest:before {
  content: "\ead1";
}
.iconos-pinterest2:before {
  content: "\ead2";
}
.iconos-xing:before {
  content: "\ead3";
}
.iconos-xing2:before {
  content: "\ead4";
}
.iconos-flattr:before {
  content: "\ead5";
}
.iconos-foursquare:before {
  content: "\ead6";
}
.iconos-yelp:before {
  content: "\ead7";
}
.iconos-paypal:before {
  content: "\ead8";
}
.iconos-chrome:before {
  content: "\ead9";
}
.iconos-firefox:before {
  content: "\eada";
}
.iconos-IE:before {
  content: "\eadb";
}
.iconos-edge:before {
  content: "\eadc";
}
.iconos-safari:before {
  content: "\eadd";
}
.iconos-opera:before {
  content: "\eade";
}
.iconos-file-pdf:before {
  content: "\eadf";
}
.iconos-file-openoffice:before {
  content: "\eae0";
}
.iconos-file-word:before {
  content: "\eae1";
}
.iconos-file-excel:before {
  content: "\eae2";
}
.iconos-libreoffice:before {
  content: "\eae3";
}
.iconos-html-five:before {
  content: "\eae4";
}
.iconos-html-five2:before {
  content: "\eae5";
}
.iconos-css3:before {
  content: "\eae6";
}
.iconos-git:before {
  content: "\eae7";
}
.iconos-codepen:before {
  content: "\eae8";
}
.iconos-svg:before {
  content: "\eae9";
}
.iconos-IcoMoon:before {
  content: "\eaea";
}
